@font-face {
    font-family: "AR";
    src: url(../assets/fonts/arcaderegular/ARCADE.TTF);
}

* {
    font-family: "AR", sans-serif;
}

canvas {
    border: 3px solid black;
    background-color: #bacded;

    padding-left: 0;
    padding-right: 0;

    display: block;
    margin: 0 auto;
}

html {
    background-color: black;
    background-image: url("../assets/pictures/octo/octo02.png");
    background-color: thistle;
    background-repeat: no-repeat;
    background-size: cover;
}

.nadpis {
    color:rgb(255, 230, 0);
    text-align:center;
    text-shadow: 5px 5px 0px black;

    font-size: 6em;
    font-family: "AR", sans-serif;

    margin-right: auto;
    margin-left: auto;

    margin-top: 0;
    margin-bottom: 0 !important;
    
    padding: 0px;
}

.credits {
    z-index: -1;
    text-align: center;
    font-size: 1em;
    margin: 0.5% 35%;
    padding: 0%;

}

html,body {
    margin:0;
    height: 100%;
}